<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  {% feed_meta %}
  <link href="{{ '/rss-feed.xml' | relative_url }}" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  {% if page.math == true %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  {% endif %}
  {% include google-analytics.html %}
  {% seo %}
  {% include json-ld.html %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const links = document.querySelectorAll("a[href^='http']:not([href*='" + window.location.hostname + "'])");
      links.forEach(link => {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      });
    });
  </script>
</head>
