{% if page.layout == "post" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.excerpt | strip_html | strip_newlines | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ page.author | default: site.author | jsonify }}
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "url": "{{ page.url | absolute_url }}",
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }}
  }{% if page.image %},
  "image": "{{ page.image | absolute_url }}"{% endif %}
}
</script>
{% endif %}
