/*
  Site container
*/

.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  width: min(#{$container-width}, 100%);
  min-height: calc(100vh - 120px);
  margin: auto;
  display: block;
  padding-top: $header-thickness + 18px;
  padding-bottom: 28px;
}

@media (max-width: $container-width) {
  .container {
    width: 95vw;
  }

  .content-wrapper {
    width: 100%;
    padding-top: $header-thickness + 14px;
  }
}
