@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.fa-x-twitter {
  padding: 5px;
  @include social-media-icon($x-twitter-color, $icon-transition-time);
}

.fa-instagram {
  padding: 5px;
  @include social-media-icon($instagram-color, $icon-transition-time);
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-facebook {
  padding: 5px;
  @include social-media-icon($facebook-color, $icon-transition-time);
}

.fa-rss-square {
  padding: 5px;
  @include social-media-icon($rss-color, $icon-transition-time);
}

.fa-tumblr {
  padding: 5px;
  @include social-media-icon($tumblr-color, $icon-transition-time);
}

.fa-lastfm {
  padding: 5px;
  @include social-media-icon($lastfm-color, $icon-transition-time);
}

.fa-paypal {
  padding: 5px;
  @include social-media-icon($paypal-color, $icon-transition-time);
}