$base-font-family: sans-serif !default;
$body-font-family: sans-serif !default;
$code-font-family: monospace !default;

$brand-color: #000 !default;
$container-width: 1100px !default;
$tablet-width: 600px !default;
$phone-width: 480px !default;
$header-thickness: 64px !default;
$icon-transition-time: 0.25s !default;

$x-twitter-color: #000000 !default;
$bluesky-color: #bddcff !default;
$instagram-color: #c13584 !default;
$github-color: #909692 !default;
$facebook-color: #1877f2 !default;
$rss-color: #ff6600 !default;
$tumblr-color: #35465c !default;
$lastfm-color: #d51007 !default;
$paypal-color: #0079c1 !default;
$mug-hot-color: #ff5e5b !default;
