<!DOCTYPE html>
<html lang="ja">
  {% include head.html %}
  <body class="{{ page.layout }}{% if page.body_class %} {{ page.body_class }}{% endif %}">
    <div class="container">
      {% include header.html %}

      <main class="content-wrapper">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    {% if page.layout == "post" %}
    <script src="{{ '/assets/js/image-zoom.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/toc.js' | relative_url }}"></script>
    {% endif %}
    <script src="{{ '/assets/js/menu-toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/external-links.js' | relative_url }}"></script>
    {% include ga-events.html %}

  </body>
</html>
